/* Базовый сброс */
* {
  box-sizing: border-box;
}

/* Страница под 3D */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f4f4f4;
}

/* Canvas Three.js */
canvas {
  display: block;
}
