{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>3D модели</title>

  <!-- ВАЖНО: CSS ТОЛЬКО ЗДЕСЬ -->
  <link rel="stylesheet" href="{% static 'css/model_list.css' %}">
</head>
<body>

<h1>Список 3D моделей</h1>
<h2><a href="{% url 'assembly_list' %}">Steps</a></h2>
<ul>
  {% for model in models %}
    <li>
      <a href="{% url 'model_detail' model.pk %}">
        {{ model.title }}
      </a>
    </li>
  {% empty %}
    <li>Моделей пока нет</li>
  {% endfor %}
</ul>

</body>
</html>
